@charset "UTF-8";

/* ベースのスタイル
---------------------------------------------- */

body {
    font-family: "Noto Serif", serif;
    font-weight: 400;
    line-height: 1.2;
    color: #000;
}

img {
    width: 100%;
    height: auto;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #fff;
}

a:hover, button:hover {
    opacity: .6;
}


/* 部品
------------------------------------- */

.contents-width {
    margin: 0 auto;
    max-width: 1032px;
    padding: 0 1rem;
}

@media (max-width: 767px) {
    .contents-width {
        padding: 1rem;
    }
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.marcellus {
    font-family: "Marcellus", serif;
}

.eb-garamond {
    font-family: "EB Garamond", serif;
}

/* トップ（メインビジュアル）
------------------------------------- */

.top {
    position: relative;
    height: calc(557 / 390 * 100vw);
    margin-bottom: calc(32 / 390 * 100vw);
    ;
}

@media (min-width: 768px) {
    .top {
        height: calc(720 / 1500 * 100vw);
        margin-bottom: calc(48 / 1500 * 100vw);
        ;
    }
}

.company-logo {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: calc(30 / 390 * 100vw) auto 0;
    width: calc(143 / 390 * 100vw);
}

@media (min-width: 768px) {
    .company-logo {
        margin: calc(38 / 1500 * 100vw) auto 0;
        width: calc(166 / 1500 * 100vw);
    }
}

.main-visual {
    position: relative;
    height: 115vw;
    overflow: hidden;
}

@media (min-width: 768px) {
    .main-visual {
        height: calc(720/1500 * 100vw);
    }
}

.main-visual::before {
    position: absolute;
    z-index: -1;
    display: block;
    width: 100vw;
    height: 100%;
    content: "";
    background-image: url("/assets/image/main_visual.jpg");
    background-repeat: no-repeat;
    background-position: -86vw -36vw;
    background-size: 253vw;
}

@media (min-width: 768px) {
    .main-visual::before {
        background-position: -5.5vw -25.8vw;
        background-size: 134vw;
    }
}

.title {
    position: absolute;
    top: 107vw;
    padding-left: calc(24 / 390 * 100vw);
}

@media (min-width: 768px) {
    .title {
        top: 18vw;
        padding-left: calc(225 / 1500 * 100vw);
    }
}

.title-product-name {
    font-size: calc(41 / 390 * 100vw);
    line-height: calc(51/41);
    letter-spacing: calc(12.16/390 *100vw);
    font-weight: 400;
}

@media (min-width: 768px) {
    .title-product-name {
        font-size: calc(50 / 1500 * 100vw);
        line-height: calc(68/50);
        letter-spacing: calc(14.5/1500 *100vw);
    }
}

.title-catch {
    margin-top: 0.5rem;
    font-size: calc(20 / 390 * 100vw);
    line-height: calc(29/20);
    letter-spacing: calc(5.92/390 *100vw);
}

@media (min-width: 768px) {
    .title-catch {
        font-size: calc(25 / 1500 * 100vw);
        line-height: calc(36/25);
        letter-spacing: calc(7.3/1500 *100vw);
    }
}

/* ショッピング
------------------------------------- */
.shopping {
    margin-bottom: calc(33 / 390 * 100vw);
    line-height: calc(26/18);
}

@media (min-width: 768px) {
    .shopping {
        margin-bottom: 3rem;
    }
}

.shopping__background {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #F0F4FF;
    row-gap: calc(20 / 390 * 100vw);
    padding-top: calc(22/ 390 * 100vw);
    padding-bottom: calc(34/ 390 * 100vw);
}

@media (min-width: 768px) {
    .shopping__background {
        flex-direction: row;
        max-width: 1000px;
        margin: 0 auto;
        padding: 0 calc(48/1500 *100vw);
        height: 146px;
        column-gap: calc(32 /1500 *100vw);
        justify-content: center;
    }
}

.shopping__product {
    text-align: center;
}

@media (min-width: 768px) {
    .shopping__product {
        text-align: left;
        width: 240px;
        min-width: 220px;
    }
}

.shopping__product-name {
    font-size: calc(18 / 390 * 100vw);
    letter-spacing: .1rem;
    margin-bottom: calc(4.8/390 *100vw);
}

@media (min-width: 768px) {
    .shopping__product-name {
        font-size: 24px;
        letter-spacing: .15rem;
        padding-top: 0.3rem;
        margin-bottom: 0;
    }
}

.shopping__product-price {
    font-size: calc(14 / 390 * 100vw);
    line-height: calc(20/14);
    letter-spacing: .07rem;
}

@media (min-width: 768px) {
    .shopping__product-price {
        font-size: 16px;
        line-height: calc(20/14);
        letter-spacing: .07rem;
        padding-top: 0.3rem;
    }
}

.shopping__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 83.8%;
    height: calc(58 / 390 * 100vw);
    font-size: calc(18 / 390 * 100vw);
    color: #fff;
    font-weight: 600;
    border-radius: calc(34/390*100vw);
}

@media (min-width: 768px) {
    .shopping__button {
        max-width: 300px;
        min-width: 220px;
        max-height: 58px;
        font-size: 1.125rem;
        color: #fff;
        border-radius: 34px;
    }
}

.shopping__button--online {
    background-color: #46C4DB;
}

.shopping__button--purchase {
    background-color: #5DD5AB;
}

/* 特徴
------------------------------------- */
.feature {
    height: calc(680/390 *100vw);
    background-image: url("/assets/image/pmv_chamara.jpg");
    background-repeat: no-repeat;
    background-position: -116vw 0vw;
    background-size: 327.5vw;
}

@media (min-width: 768px) {
    .feature {
        display: flex;
        height: 550px;
        background-position: 100% 54%;
        background-size: 135.8vw;
        align-items: center;
    }

    .feature__container {
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: flex-end;
    }
}

.feature__text-block {
    color: #fff;
    padding-top: calc(35.2/390*100vw);
}

@media (min-width: 768px) {
    .feature__text-block {
        padding-top: 0rem;
        width: 420px;
    }
}

.feature__title {
    text-align: center;
    font-size: calc(30/390*100vw);
    font-weight: 700;
}


@media (min-width: 768px) {
    .feature__title {
        text-align: left;
        font-size: 2.375rem;
        padding-top: 8px;
    }
}

.feature__title--japanese {
    text-align: center;
    font-size: calc(24/390*100vw);
    padding-top: calc(14.4/390 *100vw);
    font-weight: 600;
}

@media (min-width: 768px) {
    .feature__title--japanese {
        text-align: left;
        font-size: 24px;
        padding-top: 15px;
    }
}

.feature__description {
    font-size: calc(14/390*100vw);
    line-height: calc(32/14);
    padding-top: calc(16/390 *100vw);
}

@media (min-width: 768px) {
    .feature__description {
        text-align: left;
        font-size: 14px;
        padding-top: 20px;
    }
}

/* お客様の声
------------------------------------- */

.voices {
    padding-top: calc(51.5/390*100vw);
    padding-bottom: calc(40.5/390*100vw);
}

@media (min-width: 768px) {
    .voices {
        padding-top: 4.5rem;
        padding-bottom: 4.7rem;
    }
}

.voices__title {
    text-align: center;
    font-size: calc(30/390*100vw);
    font-weight: 700;
    letter-spacing: calc(1.6/390*100vw);
}

@media (min-width: 768px) {
    .voices__title {
        font-size: 2.8125rem;
        padding-top: 8px;
        letter-spacing: 0.1rem;
    }
}

.voices__title--japanese {
    font-size: calc(16/390*100vw);
    padding-top: calc(9/390 *100vw);
    font-weight: 600;
    letter-spacing: 0;
}

@media (min-width: 768px) {
    .voices__title--japanese {
        font-size: 20px;
        padding-top: 15px;
    }
}

.voices__item {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(344/390*100vw);
    width: calc(280/390*100vw);
    background-color: #DBF7F9;
    margin: 0 auto;
    padding: calc(28/390*100vw) calc(17/390*100vw) 0 calc(15/390*100vw);
}

@media (min-width: 768px) {
    .voices__item {
        height: 388px;
        width: 300px;
        padding: 40px 18px 0px 16px;
    }
}

.voices__icon {
    margin-left: calc(12.8/390*100vw);
    width: calc(80/390*100vw);
    height: calc(80/390*100vw);
    /* トリミング枠の幅 */
    aspect-ratio: 1;
    /*トリミング枠の縦横比*/
    overflow: hidden;
    border-radius: 50%;
}

@media(min-width: 768px) {
    .voices__icon {
        margin-left: 0px;
        margin-top: 0px;
        width: 100px;
        height: 100px;
    }
}

.voices__image {
    display: block;
    object-fit: cover;
    object-position: left top;
}

.voices__image--a {
    transform: scale(3);
    object-position: calc(-25.6/390*100vw) calc(16/390*100vw);
}

@media(min-width: 768px) {
    .voices__image--a {
        transform: scale(3);
        object-position: -31px 19px;
    }
}

.voices__image--b {
    transform: scale(1.6);
    object-position: calc(2.4 / 390 * 100vw) calc(17 / 390 * 100vw);
}

.voices__image--c {
    transform: scale(1.7);
    object-position: calc(-5.6 / 390 * 100vw) calc(16 / 390 * 100vw);
}

.voices__image--d {
    transform: scale(1.1);
    object-position: calc(0.4 / 390 * 100vw) calc(-3 / 390 * 100vw);
}

.voices__image--e {
    transform: scale(1.1);
    object-position: calc(0.4 / 390 * 100vw) calc(-6 / 390 * 100vw);
}

.voices__image--f {
    transform: scale(1.5);
    object-position: calc(-1.6 / 390 * 100vw) calc(14.5 / 390 * 100vw);
}

.voices__name {
    font-size: calc(14/390*100vw);
    font-weight: 400;
    margin-top: calc(12.8/390*100vw);
}

@media (min-width: 768px) {
    .voices__name {
        font-size: 15px;
        margin-top: 12px;
    }
}

.voices__comment {
    font-size: calc(14/390*100vw);
    line-height: calc(28/14);
    margin-top: calc(16/390*100vw);
}

@media (min-width: 768px) {
    .voices__comment {
        font-size: 1rem;
        line-height: calc(28/16);
        margin-top: 1rem;
    }
}

.swiper__container {
    margin: calc(36/390*100vw) auto;
    height: calc(344/390*100vw);
    width: calc(280/390*100vw);
    position: relative;
}


@media (min-width: 768px) {
    .swiper__container {
        max-width: 980px;
        margin: 40px auto;
        height: 388px;
    }
}

/* Swiper */
.swiper-button-next,
.swiper-button-prev {
    top: 51.8%;
    width: calc(32/390*100vw);
    height: calc(32/390*100vw);
    background-size: contain;
}

@media (min-width: 768px) {

    .swiper-button-next,
    .swiper-button-prev {
        top: 49.8%;
        width: 48px;
        height: 48px;
    }
}

.swiper-button-next::after,
.swiper-button-prev::after {
    content: '';
}

.swiper-button-prev {
    background-image: url(../image/arrow-left-circle-fill.png);
    left: calc(-39/390*100vw)
}

@media (min-width: 768px) {
    .swiper-button-prev {
        left: -88px;
    }
}

.swiper-button-next {
    background-image: url(../image/arrow-right-circle-fill.png);
    right: calc(-39/390*100vw);
}

@media (min-width: 768px) {
    .swiper-button-next {
        right: -88px;
    }
}

.swiper-pagination-bullet {
    background-color: #EEE;
    height: calc(9/390*100vw);
    width: calc(9/390*100vw);
    opacity: 1;
}

@media (min-width: 768px) {
    .swiper-pagination-bullet {
        height: 9px;
        width: 9px;
    }
}

.swiper-pagination-bullet-active {
    background-color: #00AFBF;
}

.swiper-pagination {
    bottom: calc(-31/390*100vw) !important;
}

@media (min-width: 768px) {
    .swiper-pagination {
        bottom: -39px !important;
    }
}

/* よくあるご質問
------------------------------------- */

.faq {
    background: linear-gradient(90deg, #F4FFE8, #C6F0FE);
    padding-top: calc(17.6/390*100vw);
    margin-bottom: 1.8rem;
}

@media (min-width: 768px) {
    .faq {
        padding-top: 2rem;
        padding-bottom: 1.4rem;
        margin-bottom: 3rem;
    }
}

.faq__title {
    text-align: center;
    font-size: calc(30/390*100vw);
    font-weight: 700;
    letter-spacing: calc(1.6/390*100vw);
}

@media (min-width: 768px) {
    .faq__title {
        font-size: 2.8125rem;
        padding-top: 8px;
        letter-spacing: 0.1rem;
    }
}

.faq__title--japanese {
    font-size: calc(16/390*100vw);
    padding-top: calc(9/390 *100vw);
    padding-bottom: calc(17/390 * 100vw);
    font-weight: 600;
    letter-spacing: 0;
}

@media (min-width: 768px) {
    .faq__title--japanese {
        font-size: 20px;
        padding-top: 15px;
        padding-bottom: 22px;
    }
}

@media (min-width: 768px) {
    .faq__container {
        max-width: 600px;
        margin: 0 auto;
    }
}

.faq__item {
    background-color: #fff;
    margin: 20px auto;
    padding: 16px;
    font-size: 15px;
}


@media (min-width: 768px) {
    .faq__item {
        padding: 1.2rem;
    }
}

/* アコーディオンの質問・回答部分 */
.faq__question,
.faq__answer {
    padding-left: 28px;
    line-height: calc(28/15);
}

@media (min-width: 768px) {

    .faq__question,
    .faq__answer {
        padding-left: 38px;
    }
}

/* アコーディオンの質問部分のみ */
.faq__question {
    position: relative;
    color: #444;
    padding-right: 16px;
}

@media (min-width: 768px) {
    .faq__question {
        padding-right: 24px;
    }
}

/* アコーディオンの回答部分 */
.faq__answer {
    display: none;
    color: #000;
    margin-top: 0.6rem;
    margin-bottom: 0.6rem;
}

@media (min-width: 768px) {
    .faq__answer {
        padding-right: 22px;
    }
}

.faq__question::before {
    content: "Q.";
}

.faq__answer::before {
    content: 'A.';
}

.faq__question::before,
.faq__answer::before {
    font-family: "EB Garamond", serif;
    font-size: 16px;
    display: inline-block;
    text-indent: -1.8rem;
}

@media (min-width: 768px) {

    .faq__question::before,
    .faq__answer::before {
        font-size: 18px;
        text-indent: -2rem;
    }
}

/* 初期状態を表示するとき用のクラス */
.faq__answer--active {
    display: block;
}

.open-icon {
    position: absolute;
    top: 5.5px;
    right: -1px;
    font-size: 15px;
}

@media (min-width: 768px) {
    .open-icon {
        top: 0;
        right: 0.2rem;
        font-size: 1.2rem;
    }
}

/* フッター
------------------------------------- */
.footer {
    background-color: #0071CE;
}

.footer-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding-top: calc(30/390*100vw);
}

@media (min-width: 768px) {
    .footer-container {
        flex-direction: row;
        align-items: center;
        max-width: 1200px;
        padding-top: 40px;
        padding-bottom:40px;
    }
}

.footer__logo {
    margin: 0 auto;
    margin-bottom: calc(30/390*100vw);
}

.footer__logo__image {
    max-width: calc(166/390*100vw);
}

@media (min-width: 768px) {
    .footer__logo {
        margin:0;
        padding-left: 32px;
    }

    .footer__logo__image {
        max-width: 190px;
        min-width: 120px;
    }
}


@media (min-width: 768px) {
    .footer__nav {
        display: flex;
        width: 700px;
        justify-content: flex-end;
        min-width: 366px;
    }
}

.footer__list {
    display: flex;
    justify-content: center;
    gap: calc(30 / 390 * 100vw);
    flex-wrap: wrap;
    font-size: max(12px, calc(12/390 * 100vw));
}

@media (min-width: 768px) {
    .footer__list {
        width: 637px;
        gap: 32px;
        font-size: 14px;
    }
}

.footer__copyright {
    margin: calc(29/390*100vw) auto calc(23/390*100vw);
    color: #fff;
    font-size: max(11px, calc(11/390 * 100vw));
}

@media (min-width: 768px) {
    .footer__copyright {
        margin: 4px 8px 0;
        font-size: 12px;
        line-height: calc(17/12);
        min-width: 238px;
    }
}