@charset "UTF-8";

/* ベースのスタイル
---------------------------------------------- */

body {
    font-family: "Noto Serif", serif;
    font-weight: 400;
    line-height: 1.2;
    color: #000;
}

img {
    width: 100%;
    height: auto;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

a:hover, button:hover {
    opacity: .6;
}


/* 部品
------------------------------------- */

.contents-width {
    margin: 0 auto;
    max-width: 1032px;
    padding: 0 1rem;
}

@media (max-width: 767px) {
    .contents-width {
        padding: 1rem;
    }
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.marcellus {
    font-family: "Marcellus", serif;
}

.eb-garamond {
    font-family: "EB Garamond", serif;
}

/* トップ（メインビジュアル）
------------------------------------- */

.top {
    position: relative;
    height: calc(557 / 390 * 100vw);
    margin-bottom: calc(32 / 390 * 100vw);
    ;
}

@media (min-width: 768px) {
    .top {
        height: calc(720 / 1500 * 100vw);
        margin-bottom: calc(48 / 1500 * 100vw);
        ;
    }
}

.company-logo {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: calc(30 / 390 * 100vw) auto 0;
    width: calc(143 / 390 * 100vw);
}

@media (min-width: 768px) {
    .company-logo {
        margin: calc(38 / 1500 * 100vw) auto 0;
        width: calc(166 / 1500 * 100vw);
    }
}

.main-visual {
    position: relative;
    height: 115vw;
    overflow: hidden;
}

@media (min-width: 768px) {
    .main-visual {
        height: calc(720/1500 * 100vw);
    }
}

.main-visual::before {
    position: absolute;
    z-index: -1;
    display: block;
    width: 100vw;
    height: 100%;
    content: "";
    background-image: url("/assets/image/main_visual.jpg");
    background-repeat: no-repeat;
    background-position: -86vw -36vw;
    background-size: 253vw;
}

@media (min-width: 768px) {
    .main-visual::before {
        background-position: -5.5vw -25.8vw;
        background-size: 134vw;
    }
}

.title {
    position: absolute;
    top: 107vw;
    padding-left: calc(24 / 390 * 100vw);
}

@media (min-width: 768px) {
    .title {
        top: 18vw;
        padding-left: calc(225 / 1500 * 100vw);
    }
}

.title-product-name {
    font-size: calc(41 / 390 * 100vw);
    line-height: calc(51/41);
    letter-spacing: calc(12.16/390 *100vw);
    font-weight: 400;
}

@media (min-width: 768px) {
    .title-product-name {
        font-size: calc(50 / 1500 * 100vw);
        line-height: calc(68/50);
        letter-spacing: calc(14.5/1500 *100vw);
    }
}

.title-catch {
    margin-top: 0.5rem;
    font-size: calc(20 / 390 * 100vw);
    line-height: calc(29/20);
    letter-spacing: calc(5.92/390 *100vw);
}

@media (min-width: 768px) {
    .title-catch {
        font-size: calc(25 / 1500 * 100vw);
        line-height: calc(36/25);
        letter-spacing: calc(7.3/1500 *100vw);
    }
}

/* ショッピング
------------------------------------- */
.shopping {
    margin-bottom: calc(33 / 390 * 100vw);
    line-height: calc(26/18);
}

@media (min-width: 768px) {
    .shopping {
        margin-bottom: 3rem;
    }
}

.shopping__background {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #F0F4FF;
    row-gap: calc(20 / 390 * 100vw);
    padding-top: calc(22/ 390 * 100vw);
    padding-bottom: calc(34/ 390 * 100vw);
}

@media (min-width: 768px) {
    .shopping__background {
        flex-direction: row;
        max-width: 1000px;
        margin: 0 auto;
        padding: 0 calc(48/1500 *100vw);
        height: 146px;
        column-gap: calc(32 /1500 *100vw);
        justify-content: center;
    }
}

.shopping__product {
    text-align: center;
}

@media (min-width: 768px) {
    .shopping__product {
        text-align: left;
        width: 240px;
        min-width: 220px;
    }
}

.shopping__product-name {
    font-size: calc(18 / 390 * 100vw);
    letter-spacing: .1rem;
    margin-bottom: calc(4.8/390 *100vw);
}

@media (min-width: 768px) {
    .shopping__product-name {
        font-size: 24px;
        letter-spacing: .15rem;
        padding-top: 0.3rem;
        margin-bottom: 0;
    }
}

.shopping__product-price {
    font-size: calc(14 / 390 * 100vw);
    line-height: calc(20/14);
    letter-spacing: .07rem;
}

@media (min-width: 768px) {
    .shopping__product-price {
        font-size: 16px;
        line-height: calc(20/14);
        letter-spacing: .07rem;
        padding-top: 0.3rem;
    }
}

.shopping__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 83.8%;
    height: calc(58 / 390 * 100vw);
    font-size: calc(18 / 390 * 100vw);
    color: #fff;
    font-weight: 600;
    border-radius: calc(34/390*100vw);
}

@media (min-width: 768px) {
    .shopping__button {
        max-width: 300px;
        min-width: 220px;
        max-height: 58px;
        font-size: 1.125rem;
        color: #fff;
        border-radius: 34px;
    }
}

.shopping__button--online {
    background-color: #46C4DB;
}

.shopping__button--purchase {
    background-color: #5DD5AB;
}

/* 特徴
------------------------------------- */
.feature {
    height: calc(680/390 *100vw);
    background-image: url("/assets/image/pmv_chamara.jpg");
    background-repeat: no-repeat;
    background-position: -116vw 0vw;
    background-size: 327.5vw;
}

@media (min-width: 768px) {
    .feature {
        display: flex;
        height: 550px;
background-position: 100% 54%;
        background-size: 135.8vw;
        align-items: center;
    }

    .feature-container {
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: flex-end;
    }
}

.feature__textbox {
    color: #fff;
    padding-top: calc(35.2/390*100vw);
}

@media (min-width: 768px) {
    .feature__textbox {
        padding-top: 0rem;
        width: 420px;
    }
}

.feature__title {
    text-align: center;
    font-size: calc(30/390*100vw);
    font-weight: 700;
}


@media (min-width: 768px) {
    .feature__title {
        text-align: left;
        font-size: 2.375rem;
        padding-top: 8px;
    }
}

.feature__title--japanese {
    text-align: center;
    font-size: calc(24/390*100vw);
    padding-top: calc(14.4/390 *100vw);
    font-weight: 600;
}

@media (min-width: 768px) {
    .feature__title--japanese {
        text-align: left;
        font-size: 24px;
        padding-top: 15px;
    }
}

.feature__description {
    font-size: calc(14/390*100vw);
    line-height: calc(32/14);
    padding-top: calc(16/390 *100vw);
}

@media (min-width: 768px) {
    .feature__description {
        text-align: left;
        font-size: 14px;
        padding-top: 20px;
    }
}